/vendor
/node_modules
Homestead.yaml
.env
_ide_helper.php
/.idea
*.DS_Store
/public/build
/public/css
/public/fonts/
/public/images/
/public/js
/public/hot
/public/storage
Vagrantfile
npm-debug.log
/.vagrant
auth.json
/storage/*.key
composer.lock
yarn-error.log
